.displayedBoards {
    width: 20%;
    border-radius: 5%;
    box-shadow: gray 5px 5px 5px 0;
    margin: 1% 1% 1% 1%;
    height: 150px;
    /* border: 2px red solid; */
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
}

.noBoard {
    text-align: center;
    margin-top: 5%;
    color: red;
}