.navItems {
  background-color: #212c4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navHeader {
  margin-left: 5%;
}
.navHeader h1 a {
  text-decoration: none;
  color: white;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.navLinks li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 5px;
  padding-top: 1rem;
  font-size: 1.5rem;
}
.active {
  background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 500px) {
  .navItems {
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;
  }
  .appHeader {
    font-size: 35px;
  }
  .navLinks {
    flex-direction: column;

    margin-right: 15px;
    font-size: 15px;
  }
  .active {
    font-size: 10px;
  }
}
